@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* BASE */
html,body {
    overflow-x: hidden;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.nav h1 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

/* SELECT CITY — AGORA NO CANTO ESQUERDO */
.select-city {
    margin: 20px 0 20px 20px;
}

select {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #1E1E1E;
    color: white;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    text-decoration: none;
}

/* CONTAINER DOS CARDS */
.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* ESTILO BASE DOS CARDS (MENOR AGORA) */
.total, .lidas, .nao-lidas {
    width: 180px;
    height: 120px;
    background-color: #1A1A1A;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0px 5px 16px rgba(0,0,0,0.25);
    cursor: pointer ;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* BORDAS */
.total { border: 2px solid white; }
.lidas { border: 2px solid #00AFAA; }
.nao-lidas { border: 2px solid #D9272E; }

/* TITULOS */
.total h1, .lidas h1, .nao-lidas h1 {
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
}

/* NÚMEROS */
.total h2, .lidas h2, .nao-lidas h2 {
    margin: 0px 0px 15px 0px;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

/* CORES */
.total h1, .total h2 { color: white; }
.lidas h1, .lidas h2 { color: #00AFAA; }
.nao-lidas h1, .nao-lidas h2 { color: #D9272E; }

/* RESPONSIVIDADE */
@media (max-width: 750px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}

/* WRAPPER PARA AS DUAS DIVS */
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


/* TABELA */
.container-table {
    flex: 2;                    
    min-width: 0;              
    height: 550px;
    background-color: #1A1A1A;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 16px rgba(0,0,0,0.25);
    overflow-y: auto;
}

.container-pie-chart {
    display: flex;
    justify-content: center;        
    align-items: center;       
    flex: 1;                    
    min-width: 0;
    height: 550px;
    background-color: #1A1A1A;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 16px rgba(0,0,0,0.25);
    overflow-y: auto;
}



/* TABELA ESTILO */
table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    text-align: center;
}

th {
    text-align: center;
    padding: 12px 10px;
    background-color: #222;
    font-size: 16px;
    border-bottom: 2px solid #333;
}

td {
    padding: 12px 10px;
    font-size: 14px;
    border-bottom: 1px solid #333;
}

tr:hover {
    background-color: #2a2a2a;
}

.sucess{
    background-color: #00AFAA;
    font-weight: 800;
}

.error{
    background-color: #D9272E;
    font-weight: 800;
}

@media (max-width: 900px) {
    .content-wrapper {
        flex-direction: column;
    }

    .container-table,
    .container-pie-chart {
        width: 100%;
    }
}


.time-graph{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 550px;             
    
    background-color: #1A1A1A;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 16px rgba(0,0,0,0.25);

    overflow: hidden;         
}

.time-graph canvas {
    width: 100% !important;   
    height: 100% !important;
}

.time-low {
    display: flex;
    gap: 35px;
    background-color: #1A1A1A;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 16px rgba(0,0,0,0.25);
    height: 550px;
}

.chart-left {
    flex: 4; 
    display: flex;
    flex-direction: column;
}

.chart-left select {
    width: 180px;
    margin-bottom: 20px;
}

.chart-left canvas {
    width: 100% !important;
    height: 100% !important;
}

.right-panel {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right-panel select {
    width: 180px;
}

.card {
    width: 180px;
    padding: 15px;
    background-color: #1A1A1A;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    border: 2px solid transparent;
}

.card h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.card h2 {
    margin: 5px 0 0;
    font-size: 32px;
    font-weight: 800;
}

/* BORDAS DAS CORES */
.white { border-color: white; }
.green { border-color: #00AFAA; }
.red { border-color: #D9272E; }

.white h2, 
.white h3 {
    color: white;
}

.green h2, 
.green h3 {
    color: #00AFAA;
}

.red h2, 
.red h3 {
    color: #D9272E;
}


/* Mobile */
@media (max-width: 900px) {
    .time-low {
        flex-direction: column;
        height: auto;
    }

    .right-panel {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
